<!doctype html>
<html>
<head>
  <title>Wherever you are...</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script type="text/javascript" src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>

<h1>Wherever you are...</h1>

<img id="logo" src="/static/gopher.png" width="200">

{{with .Notice}}<div id="notice">{{.}}</div>{{end}}

<form action="/" method="post">
  <div>Name:<br><input name="name" value="{{.Name}}"></div>
  <div>Message:<br><textarea name="message" rows="4" cols="40">{{.Message}}</textarea></div>
  <input type="submit">
</form>

<div id="secret">
  {{with .Posts1}}
    <ul>
      <li><cite>T</cite></li>
    </ul>
    {{range .}}
      <pre>{{.Message}}</pre>
      <p>Posted: {{.Posted}}</p>
    {{end}}
  {{end}}
  {{with .Access1}}
    {{range .}}
      <p>Access: {{.Posted}}</p>
    {{end}}
  {{end}}

{{with .Check1}}<b><span id="blink0243">{{.}}</span><script>with(blink0243)id='',style.opacity=1,setInterval(function(){style.opacity^=1},500)</script></b>{{end}}

  {{with .Posts2}}
    <ul>
      <li><cite>A</cite></li>
    </ul>
    {{range .}}
      <pre>{{.Message}}</pre>
      <p>Posted: {{.Posted}}</p>
    {{end}}
  {{end}}
  {{with .Access2}}
    {{range .}}
      <p>Access: {{.Posted}}</p>
    {{end}}
  {{end}}

{{with .Check2}}<b><span id="blink0243">{{.}}</span><script>with(blink0243)id='',style.opacity=1,setInterval(function(){style.opacity^=1},500)</script></b>{{end}}

{{with .Debug}}<pre>{{.}}</pre>{{end}}
</div>

<script type="text/javascript">
  $(function(){
    setTimeout(function(){
      $("#secret").html("");
    }, 180000);
  });
</script>

</body>
</html>
